{% extends "users/base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 offset-3">

        <h4 class="text-center alert alert-warning">
            Update Task
        </h4>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit"
                   class="btn btn-success"
                   value="Update">

            <a href="{% url 'list-and-add-task' %}"
               class="btn btn-secondary">

                Back

            </a>

        </form>

    </div>
</div>

{% endblock content %}